<div class="flex justify-between items-center mb-6">
  <h4 class="font-bold text-2xl">Item List</h4>
  <button
    type="button"
    (click)="openModalForm()"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-full px-6 py-3 text-center mb-2"
  >
    Add Item
  </button>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <caption
      class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800"
    >
      Manage Items
    </caption>
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Id</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Price</th>
        <th scope="col" class="px-6 py-3">Stock</th>
        <th scope="col" class="px-6 py-3">Available</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of items; trackBy: trackByItemId"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <td class="px-6 py-4">
          {{ item.itemId }}
        </td>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          <button
            type="button"
            (click)="openModalDetil(item.itemId)"
            class="text-blue-600 hover:underline"
          >
            {{ item.itemName }}
          </button>
        </th>
        <td class="px-6 py-4">
          {{ item.price }}
        </td>
        <td class="px-6 py-4">
          {{ item.stock }}
        </td>
        <td class="px-6 py-4">
          {{ item.isAvailable ? "Yes" : "No" }}
        </td>
        <td class="px-6 py-4 text-right">
          <button
            type="button"
            (click)="loadItem(item)"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-4"
          >
            Edit
          </button>
          <button
            type="button"
            (click)="deleteItem(item.itemId)"
            class="font-medium text-red-600 dark:text-red-500 hover:underline"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Pagination Controls -->
  <div class="flex justify-between items-center mt-6">
    <button
      (click)="prevPage()"
      [disabled]="currentPage === 1"
      class="px-4 py-2 text-white bg-blue-700 rounded hover:bg-blue-800"
    >
      Previous
    </button>
    <span>Page {{ currentPage }}</span>
    <button
      (click)="nextPage()"
      class="px-4 py-2 text-white bg-blue-700 rounded hover:bg-blue-800"
    >
      Next
    </button>
  </div>
</div>

<!-- Detail Modal -->
<app-model [isOpen]="isModalDetilOpen" (closeModel)="closeModal()">
  <app-detail-item-page
    (onCloseModel)="closeModal()"
    [item]="item"
  ></app-detail-item-page>
</app-model>

<app-model [isOpen]="isModalFormOpen" (closeModel)="closeModal()">
  <app-item-form (onCloseModel)="closeModal()" [data]="item"></app-item-form>
</app-model>
